.bg-navbar{
    background-color: #8D7B68;
    width: 100%;
    top: 0;
}
#Brandlogo{
    width: 5cqmax;
}
.NavLinkTex{
    color: white;
    font-size: 2cqmax;
}
.NavLinkTex:hover{
    color: #F1DEC9;
}
.NavLinkTex:active{
    color: #C8B6A6;
}
.NavLinkTexBrand{    
    color: white;
    font-size: 2cqmax;
    
}
.NavLinkTexBrand:hover{
    color: #F1DEC9;
}
.NavLinkTexBrand:active{
    color: #C8B6A6;
}
.mainColors{
    color: #A4907C;
}
.ColorsCatl{
    color: #A4907C;
}
img{
    border-radius: 20px;
}
.noLinkDec{
    text-decoration: none;
}
.nav-link-space{
    margin: 0 25px;
}
.link-decoration-none{
    list-style: none;
    margin: 25px 0;
}
.ft-centered{
    text-align: center;
}
#Welcome h1
{
    text-align: center;
}
.ImgSise{
    max-width: auto;
    max-height: 25cqmin;
}
.ImgSiseCaru{
    max-width: auto;
    max-height: 25cqmax;
}
.CaruColors{
    color: #494138;
}
#Table-position{
    width: 95%;
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
}
.bgPersonalised{
    background-color: rgba(0,0,0, 0.5);
}
.bgModalPersonalised{
    background-color: white;
    border-radius: 5px;
    width: 50%;
}   
.modalColor{
    color: #8D7B68;
}
.btnColor{
    margin: 0 auto;
    background-color: #616161;
    color: white;
}
.FormCompra{
    margin: 0 auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 1%;
    width: 35cqmax;
    border: 1px solid #8D7B68;
    border-radius: 5px;
    background-color: #A4907C;
    color: white;
}
.FormCompra form .inptSise{
    width: 55%;
}
.FormCompra .rdSise{
    width: 5%;
}
.FormCompra .Spaced{
    margin-bottom: 2.5%;
}
.Error
{
    color: red;
}
.btnBgPersonalised{
    background-color: #A4907C;
    border-radius: 5px;
    width: 20%;
}
.inputsColor{
    background-color: white;
    color: #8D7B68;
    border: 0.5px solid #A4907C;
    border-radius: 5px;
    outline: grey;
}
.inputsColor:focus{
    border: 0.5px solid #A4907C;
    border-radius: 5px;
    outline: none;
}
.inputsColor:active{
    border: 0.5px solid #A4907C;
    border-radius: 5px;
    outline: white;
}

.inputsColor:checked{
    border: 0.5px solid #F1DEC9;
    border-radius: 5px;
    outline: white;
    accent-color: #F1DEC9;
}
.SaveDiscart:hover{
    background-color: #F1DEC9;
    color: #8D7B68;
}
.CtlgFSiseText{
    font-size: 1cqmax;
}
.CtlgFSiseTop{
    font-size: 1.5cqmax;
}
.CtlgFSiseTop2{
    font-size: 1.2cqmax;
}
.intro{
    width: 85%;
    margin: 0 auto;
}
.text{
    font-size: 1.3cqmax;
}